{% extends "common/layout.html" %}
{% block content %}

<div id="base" style="min-width:1000px">
  <div id="main">
    <table cellpadding="0px" cellspacing="0px" border="0px" >
      <tr>
        <td>
          <div id="title">
            <table style="width: 100%;">
              <tr>
                <td style="width: 120px;">
                  <img src="../static/logo/title_highresorad.png" style="margin: 0.1em;">
                </td>
                <td>
                  <h1>雨雲の動き</h1>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
      <tr>
        <td align="center">
          <table cellpadding="0px" cellspacing="0px">
            <tr>
              <td align="left" style="background-color: rgb(102, 102, 255);">
                <div style="color: rgb(255, 255, 255); text-shadow: black 0px -1px, black 1px 0px, black 0px 1px, black -1px 0px;">{{cloud_img_time}}</div>
              </td>
            </tr>
            <tr>
              <td>
                <img src='{{cloud_img_path}}'>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>

{% endblock %}